*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url();
  background-color: lightcoral;
}
